<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logSecure</title>
</head>
<body>
    <section class="header-section">
        <header>
            <h3><%= header %></h3>
        </header>
    </section>
    <section class="nav-section">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </section>
    <section class="main-section">
        <main>

        </main>
    </section>
