<%- include('header') %>
<% if(header) { %>
<% } %>
<% if(msglg) { %>
    <p class="form-msg"><%= msglg %></p>
<% } %>
<form action="/login" method="post">
    <label for="email">📧Email</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <button>login</button>
</form>
<%- include('footer') %>