<%- include('header') %>
<% if(msg) { %>
    <p class="form-msg"><%= msg %></p>
<% } %>
<form action="/register" method="post">
    <label for="firstName">📛First Name</label>
    <input type="text" name="firstName" required>
    <label for="lastName">last Name</label>
    <input type="text" name="lastName" required>
    <label for="email">📧Email</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <label for="confirm">Confirm Password</label>
    <input type="password" name="confirm">
    <button>login</button>
</form>
<%- include('footer') %>